@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

ul {

  list-style-type: none;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  position:fixed;
  z-index: 1;
  width: 97%;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: larger;
  

}




.navbarbtn {

  text-decoration: none;
  list-style-type: none;
}

.contact {
  display: flex;
  width: 90%;
}


li a:hover,
.dropdown:hover .dropbtn {
  background-color: #131316;
}

li.dropdown {
  display: inline-block;
}



.dropdown .dropbtn {
  font-size: larger;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #131316;
  font-family: 'poppins';
  margin: 0;

}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #131316;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131316;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: #131316;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.contactnemen {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 20px;
  background-color: #131316;
  border: 2px solid #ffffff;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    
}
.aboutme{
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.pfp{
  border-radius: 50%;
}

.pfp2{
  border-radius: 10%;
}



.arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    transition: all 0.4s ease;
  }
  .arrow:before, .arrow:after {
    transition: all 0.4s ease;
    content: "";
    display: block;
    position: absolute;
    transform-origin: bottom right;
    background: #fff;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
  }

.hidden{
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.title1{
    font-size: 5rem;
    font-weight: 700;


}

.title2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.visuallogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2f3136;
    padding: 10px;
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom:0px ;
    cursor: pointer;
}


.htmllogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2f3136;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border-radius: 15px;
    cursor: pointer;

}

.csslogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2f3136;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border-radius: 15px;
    cursor: pointer;

}

.javascriptlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2f3136;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    

}

.portofolio{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2f3136;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  border-radius: 15px;
  cursor: pointer;
  

}

.projcapy{
  border-radius: 50%;
}


.logos{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}


div.uparrow {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    left: 48%;
    top: 80%;
    transform: rotate(-45deg);
  }
  div.uparrow::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
  }
  div.uparrow:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition: 0.2s ease;
  }
  div.uparrow:hover::after {
    transform: rotate(45deg);
    border-color: rgb(180, 180, 180);
    height: 120%;
  }
  div.uparrow:hover::before {
    border-color: rgb(180, 180, 180);
    transform: scale(0.8);
  }

  .socials{
    display:flex;
    cursor: pointer;
  }

  .socialbtn:hover{
    transform: scale(1.1);
  }

  .socialbtn{
    transition: all 0.5s ease;
    margin: 10px;
  }

  .buttongame{
    text-decoration: none;
    color: #ffffff;
    padding: 20px 30px;
    background-color: #131316;
    border: 2px solid #ffffff;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
    margin-top: 50px;

}

.sectioneldenring{
display: flex;

}